.row>* {
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}


h3, h5 {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 3rem;
}
h3 {
  color: white;
  letter-spacing: 8px;
  text-align: center;
}

h5 {
   position: relative;
}

  /* Paragrapgh texts */

.info-texts {
  font-family: 'Barlow', sans-serif;
  margin-top: -100px;
  font-size: 1.3rem;
  color: hsl(232, 10%, 55%);
  width: 90%;
}

/* BUTTONS */

.button-all {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  
}
    /* Items in #about divs */

.items {
  padding: 10%;
}

/* NAVIGATION SECTION */

#navigation {
  background-image: url("../images/desktop/image-header.jpg");
  background-position: center;
  height: 100vh;
  background-size: cover;
}

.navigation-container {
  padding: 4% 7%;
}

.arrow-container {
  display: flex;
}

.arrow-image {
  margin: 0 50%;
  margin-top: 5%;
}

.navbar-brand {
  font-weight: bold;
}

.nav-item {
  margin: 0 10px;
}

.nav-btn {
 
  border-style: none;
  width: 40%;
  background-color: white;
  font-family: 'Fraunces', serif;
  font-weight: bold;
  font-family: 'Fraunces', serif;
  font-weight: bold;
  border-style: none;
}

/* Transform Sub-section */

.transform {
  padding-bottom: 15px;
}

.transform-heading {
  width: 65%;
}

.transform-btn {
  text-decoration-color: hsl(51, 100%, 80%);
  background-color: hsl(51, 170%, 95%);
  color: black;
  padding: 1%;
  margin-left: 75px;
 }

.transform-egg {
  background-image: url("../images/desktop/image-transform2.jpg");
  background-position: center;
  height: 80vh;
  background-size: cover;
}


/* Stand-out Subsection */

.cup-column {
  background-image: url("../images/desktop/image-stand-out.jpg");
  background-position: center;
  height: 80vh;
  background-size: cover;
}


.stand-out {
  padding-bottom: 15px;
}

.stand-out-heading {
  width: 80%;
}

.stand-out-button {
  background-color: hsl(7, 150%, 95%);
  text-decoration-color: hsl(7, 99%, 88%);
  border-style: none;
  color: black;
  padding: 1%;
  margin-left: 75px;
}

/* Graphic-design Sub-section */

.grape-column {
  background-image: url("../images/desktop/image-graphic-design.jpg");
  background-position: center;
  height: 80vh;
  background-size: cover;
  text-align: center;
}

.graphic-heading {
  color: hsl(167, 40%, 24%);
  position: relative;
  top: 60%;
}

.graphic-content {
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: 61%;
  color: hsl(167, 40%, 24%);
}

/* Photography sub-section */

.orange-column {
  background-image: url("../images/desktop/image-photography.jpg");
  background-position: center;
  height: 80vh;
  background-size: cover;
  text-align: center;
}

.orange-heading {
  position: relative;
  top: 60%;
  color: hsl(198, 62%, 26%);
}

.orange-content {
  position: relative;
  top: 61%;
  width: 50%;
  margin: 0 auto;
  color: hsl(198, 62%, 26%);
}

/* TESTIMONIAL SECTION */

#testimonials {
  margin-top: 25px;
  margin-bottom: 50px;
}

.testimonial-main-heading {
  padding: 3% 2% 2%;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 5px;
  color: hsl(210, 4%, 67%);
}

.testimonial-row {
  text-align: center;
}

/* Testimonial Images */

.testimonial-image {
  border-radius: 100%;
  margin-bottom: 50px;
}

/* Testimonial comments */

.testimonial-text {
  width: 65%;
  margin-left: 90px;
  font-family: 'Barlow', sans-serif;
  color: hsl(212, 27%, 19%);
  font-weight: 500;
  line-height: 1.5;
}

/* Testimonial Volunteer Names  */

.testimonial-name {
  font-family: 'Fraunces', serif;
  font-weight: bolder;
  margin-top: 45px;
}

/* Testimonial (positions) of people  */

.office-position {
  color: hsl(213, 9%, 39%);
  font-family: 'Barlow', sans-serif;
  font-size: 0.8rem;
}

/* PROJECT SECTION */

.project-image {
  width: 100%;
}

/* CONTACT SECTION */

#contact {
  background-color: hsl(168, 34%, 41%);
  text-align: center;
}

.bottom-brand-name {
  font-size: 1.5rem;
  color: hsl(167, 40%, 24%);
  margin: 0 auto;
  padding-top: 3%;
}

.links {
  padding-top: 3%;
}

.bottom-link {
  padding: 0 2% 0;
  text-decoration: none;
  color: hsl(167, 40%, 24%);
}

.icons {
  padding: 6% 1% 4%;
}